* { 
  box-sizing: border-box; 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif Geneva, Verdana, sans-serif;
  color: white;
  background-color: rgb(34, 34, 34);
  
} 

/* CSS property for header section */ 
.header { 
  background-color: #439AA0; 
  text-shadow: 3px 3px #0D5C63;
  padding: 15px; 
  text-align: center; 
  font-size: xx-large
} 


/* CSS property for content section */ 
.columnA, .columnB, .columnC { 
  float: left; 
  width: 31%; 
  padding: 15px; 
  text-align: left; 
  background-color: rgb(34, 34, 34);
  font-size: larger;
  line-height: initial;
} 
h2 { 
  box-shadow: 5px 0px rgb(212, 212, 212);
  font-size: xx-large;
  color: white;  
  text-shadow: 1px 1px #0D5C63;
  background-color: #439AA0;


}

.fas {
  text-align: center;
  font-size: 72px;
}




