  
  body {
      text-align: center;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      background-color: #e1f0f7;
      padding-top: 50px;
      padding-right: 200px;
      padding-bottom: 50px;
      padding-left: 200px;
      border: dotted;
   
  }
  
  h1 {
      padding: 20;
      border: round;
      border-radius: 10px;
      text-align: center;
      color: white;
      background-color:#93aab5;
      font-size: 2.5em;

  }

  h2 {
    border: round;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: #93aab5;
    font-size: 1.5em;

  }
 h3 {
  border: round;
  border-radius: 10px;
  text-align: center;
  color: white;
  background-color: #aeb3b6;
  font-size: 1.5em;
 }

 li {
   padding: 10px
 }

 p {
   padding: 10px
 }


